/* General styles */
body {
    background-color: rgb(80, 153, 232);
    font-family: 'Montserrat', sans-serif;
}

/* Heading */
h1 {
    font-family: 'Rubik Mono One', sans-serif;
    letter-spacing: 0.5em;
    font-size: 200%;
    text-align: center;
    margin-bottom: 10%;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* Start game buttons */
.btn-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}

form {
    display: flex;
    flex-direction: column;
}

#label {
    font-size: 150%;
    color: rgb(83, 24, 6);
}

#username {
    border-radius: 5%;
    background-color: rgb(240, 68, 16);
    border: 2px solid white;
    height: 30px;
    color: white;
    font-size: 120%;
    margin: 5%;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 100%;
}

/* Submit and start buttons */
.initial-buttons {
    display: flex;
    justify-content: space-evenly;
}

.initial-btn {
    padding: 2%;
    /*width: 120px;*/
    text-align: center;
    border: 4px solid rgb(241, 243, 240);
    background-color: rgb(240, 68, 16);
    border-radius: 2px;
    text-transform: uppercase;
    transition-duration: 0.4s;
    color: white;
    font-size: 150%;
}

.initial-btn:hover {
    border: solid 5px black;
}

#howtoplay--btn {
    height: 100%;
    align-self: flex-end;
}

/* Main game area */
.game-container {
    background-color: rgb(165, 226, 241);
    margin: 2%;
}

/* Question counter and question area */
#hud-item {
    padding-top: 3%;
    font-family: 'Rubik Mono One', sans-serif;
    padding-left: 15%;
}

.hud-prefix {
    font-size: 120%;   
}

.question-area {
    padding: 5%;
    text-align: center;
}
/* Answer buttons */
.country-buttons {
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.country-buttons button:hover {
    border: solid 10px black;
}

.correct {
    border: solid 10px green;
}

.incorrect {
    border: solid 10px red;
}

.answer-btn {
    font-family: 'Rubik Mono One', sans-serif;
    margin: 4px;
    width: 110px;
    height: 70px;
    text-align: center;
    border: 2px solid black;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    font-size: 85%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#btn--argentina {
    background: url("../images/argentina-flag.webp") center;
    background-size: cover;
}

#btn--bolivia {
    background: url("../images/bolivia-flag.webp") center;
    background-size: cover;
}

#btn--brazil {
    background: url("../images/brazil-flag.webp") center;
    background-size: cover;
}

#btn--chile {
    background: url("../images/chile-flag.webp") center;
    background-size: cover;
}

#btn--colombia {
    background: url("../images/colombia-flag.webp") center;
    background-size: cover;
}

#btn--ecuador {
    background: url("../images/ecuador-flag.webp") center;
    background-size: cover;
}

#btn--guyana {
    background: url("../images/guyana-flag.webp") center;
    background-size: cover;
}

#btn--paraguay {
    background: url("../images/paraguay-flag.webp") center;
    background-size: cover;
}

#btn--peru {
    background: url("../images/peru-flag.webp") center;
    background-size: cover;
}

#btn--suriname {
    background: url("../images/suriname-flag.webp") center;
    background-size: cover;
}

#btn--uruguay {
    background: url("../images/uruguay-flag.webp") center;
    background-size: cover;
}

#btn--venezuela {
    background: url("../images/venezuela-flag.webp") center;
    background-size: cover;
}

.next-container {
    display: flex;
    justify-content: center;
}

#restart-btn {
    width: 140px;
    text-align: center;
    border: 4px solid rgb(241, 243, 240);
    background-color: rgb(240, 68, 16);
    border-radius: 2px;
    text-transform: uppercase;
    transition-duration: 0.4s;
    color: white;
    font-size: 150%;
}

#restart-btn:hover {
    border: solid 5px black;
}

/* Score area */
.score-area {
    padding: 0 2% 5% 2%;
    padding-right: 2%;
    font-size: 110%;
    text-align: center;
}

/* Media query: tablets and up */
@media (min-width: 768px) {
    h1 {
        font-size: 300%;
        margin-bottom: 4%;
    }

    .btn-container {
        margin-bottom: 3%;
    }

    .initial-btn-container {
        margin-bottom: 3%;
    }

    .question-area {
        padding: 2%;
    }

    .answer-btn {
        width: 150px;
        height: 110px;
        font-size: 110%;
        -webkit-text-stroke-width: 2px;
    }

    .country-buttons {
        padding: 3%;
    }
}

/* Media query: laptops and desktops and up */
@media (min-width: 992px) {

    h1 {
        font-size: 400%;
    }
    .initial-btn-container {
        margin-bottom: 3%;
    }

    .answer-btn {
        width: 190px;
        height: 150px;
        font-size: 150%;
        -webkit-text-stroke-width: 2px;
    }
}